:root{
    --primary-color:rgb(129, 10, 226);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    color:black;
}
body{
    background-color: white;
    padding:30px;
}
.container{
    max-width:1180px;
    padding:20px;
    margin-inline:aut0;
}
.flex{
    display:flex;
}

.nav-links ul{
    justify-content: end;
    gap:20px;
}
.nav-bar {
    justify-content:space-between;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.sidebar ul{
    flex-direction:column;
    gap:20px;
    position: relative;
    top:300px;
}
.contact{
    width:max-content;
    padding: 10px;
    color:white;
    background-color: var(--primary-color);
    border-radius: 4px;
}
div.info i{
    color:white;
    
}





