
*{
    margin:0;
    padding:0;
}
body{
    padding:50px;
   
}

h1{
    margin-top:50px;
    text-align: center;

}
.search{
    border:1px solid black;
    width:max-content;
    position:relative;
    left:450px;
    top:50px;
    padding:10px;
}
.search input{
    border:none;
    outline:none;
    font-weight:bold;
    font-size:20px;
}

.container{
    
    display:flex;
    flex-direction:row;
    gap:50px;
    flex-wrap:wrap;
    margin-top:150px;
    padding:15px;
    
}
.country{
    width:250px;
    height:max-content;
    border:1px solid black;
    border-radius:4px;
    padding:20px;
    box-shadow: 0 0 1px 2px rgb(238, 227, 227);
}
img{
    width:100px;
    height:100px;
}
select{
    position:relative;
    left:1000px;
    padding:10px;
}
.btn{
    position:relative;
    left:80em;
}
.btn button{
    padding:10px;
}
