body{
    background-color:rgb(238, 226, 226);
    color:white;
    overflow:hidden; 

}


h1{
    text-align:center;
    color:black;
}

.todo-wrapper{
    background-color:rgb(45, 42, 37);
    padding:2%;
    width:fit-content;
    /* margin:0 auto; */
    max-height:80vh;
    box-shadow: 0px 5px 7px  black;

}

.todo-input{
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid gray;
    padding-bottom:25px;
    margin-bottom:25px;

}

.todo-input-items{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right:25px;
}
input{
    background-color:rgb(219, 246, 237);
    color:black;
    padding:8px;
    border:none;
    width:250px;
    border-radius:4px;
}

.todo-input-item:focus{
    outline:2px solid black;
    outline:none;
    
}
label{
    font-weight:800;
    margin-bottom:20px;
}

button{
    background-color:rgb(36, 140, 36);
    margin-right:10px;
    border-radius:2px;
    border:none;
    cursor:pointer;
    margin-bottom:20px;
    box-shadow: 0px 5px 7px  black;

}
button:hover{
    background-color:rgb(115, 219, 115);
    color:white;
}
.isCompleteScreen{
    background-color: rgb(36, 140, 36)rgb(39, 35, 35);

}
.active{
    background-color:rgb(39, 35, 35);
    color:white;

}

.todo-list{
    display:flex;
    flex-direction:column;
}

.todo-lists-items{
    background-color:rgb(54, 49, 49);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:25px; 
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:10px;
    box-shadow:0px 3px 5px rgb(65, 61, 61);

}

todo-lists-items h3{
    font-size: 14px;
    color:rgb(0, 230, 122);
    font-weight:bold;
    margin:0;
}

todo-lists-items p{
    font-size:14px;
    color:rgb(161, 161,161);
    margin-top:8px;
}

.icon{
    font-size:25px;
    cursor:pointer;
}

.icon:hover{
    color:red;
}

.check-icon{
    font-size:25px;
    margin-left:10px;
    color:rgb(0,230,122);
    cursor:pointer;
}

.check-icon:hover{
    color:rgb(4,196,106);
}



