body{
    font-family:Arial,Arial, Helvetica, sans-serif;
    line-height:1.6;
    color:#363636;
}
header,footer{
    padding:2rem 0;
    text-align: center;
    background-color:#333;
    color:white;
}
.post-container{
    /* height:auto; */
    /* max-height:1000px; */
    margin:0 auto;
    min-height: 100vh;
}
.post{
    background: #eee;
    padding: 2rem;
    margin-bottom:2rem;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}
.delete{
    padding: 20px 30px;
    border-radius:10px;
    border:none;
    background:red;
    color:white;
}
