:root{
    --primary-color:rgb(129, 10, 226);
    --secondary-color:white;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color:var(--secondary-color);
    padding:30px;
}
.container{
    max-width:1180px;
    margin-inline:auto;
    padding:20px;
}
.flex{
    display:flex;
}
.heading{
    text-align: center;
    padding:50px;
}
/*header*/

header{
    width:100%;
    /* height:80px; */
    position:sticky;
    top:0;
    z-index: 1;
    background-color:var(--secondary-color);
} 
.nav-links ul{
    justify-content: end;
    gap:20px;
}
.nav-bar {
    justify-content:space-between;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.sidebar ul{
    flex-direction:column;
    gap:20px;
    position: relative;
    top:300px;
}
.hover-link:hover{
    color:var(--primary-color);
}
.hover-link:focus{
    color:var(--primary-color);
}


/*home*/

.photo img{
    width:400px;
    border-radius:50%;
}
.home{
    padding:140px 100px;
    gap:100px;
}
.info h1{
    font-size: 50px;
}


.button{
    width:max-content;
    padding: 10px;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
}
/*About*/

.photos img{
    width:350px;
    border-radius:4px;

}
.Aboutme{
    gap:100px;
    padding:110px 100px;
}
.detail{
    margin-top:50px;
    margin-bottom: 50px;
    gap:50px;
}
/*skills*/
.skills{
    gap:100px;
    padding:130px 100px;

}
.one{
    gap:30px;
    margin-bottom:30px;
}
.skillrange{
    margin-left:50px;
}
.right{
    flex-direction: column;
}
.skillbar{
    background-color:rgb(185, 129, 185);
    width:100%;
    border-radius:5px;
}

.html .range{
    width:90%;
    background-color: var(--primary-color);
    padding:5px;
    border-radius: 5px;
}
.css .range{
    display: block;
    width:80%;
    background-color: var(--primary-color);
    padding:5px;
    border-radius: 5px;
}
.JS .range{
    display: block;
    width:50%;
    background-color: var(--primary-color);
    padding:5px;
    border-radius: 5px;   
}

/*qualification*/
.Qualification::after{
    padding:110px 100px;
}
.school{
    gap:50px;
    margin-top:50px;
}
.education,.Work{
    position:relative;
    left:500px;
    color:var(--primary-color);
}
.qual{
    flex-direction:column;
    gap:20px;
    margin-top:50px;
    margin-bottom: 70px;

}
.sub,.course{
    position:relative;
    left:430px;
}
.design,.master{
    position:relative;
    left:660px;
}
.design{
    top:40px;
}
.course{
    bottom:350px;
}
.master{
    bottom:310px;
}
.center{
    position:relative;
    left:620px;
    bottom:180px;

}
.center .circle {
    background-color: var(--primary-color);
    /* padding:2px; */
    border-radius: 50%;
    width:20px;
    height:20px;
}
.center .line {
    background-color: var(--primary-color);
    width: 3px;
    height: 120px;
    position: relative;
    left: 8px;
}
/*portfolio*/
.portfolio{
    padding:130px 130px;
    gap:100px;
}
.leftimage img{
    width:300px;
    height:300px;
}
.rightcontent p{
    margin-bottom:50px;
}
/*conact*/
.contactme{
    padding:130px 100px;
    gap:100px;
}
.leftside{
    flex-direction: column;
    gap:50px;
}
.rightside{
    flex-direction: column;
}
input{
    background-color:rgb(239, 172, 239);
    padding:20px;
    border-radius:10px;
    margin-bottom:10px;
}
.btn{
    width:max-content;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;
}
input[type="button"]{
    background-color: var(--primary-color);
    border:none;
    color:var(--secondary-color);
    padding:10px;
}
input[placeholder="Project"]{
    width:420px;
}
textarea{
    background-color:rgb(239, 172, 239);
    border-radius:10px;
    padding:10px;
}
.call,.email,.location{
    gap:10px;
}

/*footer*/
.footer{
    background-color:var(--primary-color);
    height:250px;
    padding:50px;
    justify-content: space-around;
    color:var(--secondary-color);
}
.end{
    flex-direction:column;
}
.lasttext,.lastlogo{
    gap:30px;
}
.footer ul a{
    color:var(--secondary-color);
}












